.attrib {
  position: absolute;
  font-style: normal;
  top: 0.5em;
  right: 0.5em;
  font-size: 10px;
  opacity: 0.6;
}

.title {
  display: flex;
  align-items: baseline;
  margin: 1em;
  margin-top: 1.5em;
}
.title h5,
.title h1 {
  margin: 0;
}

.fast {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 1em;
}
.fast h4 {
  margin: 0;
}
.fast > * {
  margin-left: 1em;
}
.fast dl {
  justify-content: center;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.canvas > * {
  margin: 1em;
  border: 1px solid cornflowerblue;
  border-radius: 0.5em;
  padding: 0.5em;
}
.canvas > *:last-child {
  border-color: gainsboro;
}

/* responsive styles for mobile */
@media (max-width: 600px) {
  .title {
    flex-direction: column;
  }
}
