.attrib {
  font-style: normal;
  font-size: 10px;
  opacity: 0.6;
  margin-top: .4em;
}

.title {
  margin: 1em;
}
.title h1 {
  float: left;
  font-size: 2.1em;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}
.title h5 {
  margin: 0;
}

.fast {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 1em;
}
.fast h4 {
  margin: 0;
}
.fast > * {
  margin-left: 1em;
}
.fast dl {
  justify-content: center;
  margin-top: 0;
}

.canvas {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.canvas > * {
  margin: 1em;
  border: 1px solid cornflowerblue;
  border-radius: 0.5em;
  padding: 0.5em;
}
.canvas > *:last-child {
  border-color: gainsboro;
}

/* responsive styles for mobile */
@media (max-width: 500px) {
  .title h1 {
    float: none;
  }
}
