.roll dl {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-weight: 600;
}
.roll button:not(:last-child),
.roll .die:not(:last-child) {
  margin-right: 0.5em;
}
.roll input {
  width: 100%;
}

.die {
  text-align: center;
  min-width: 2em;
}

/* "d6" label */
.die dt {
  margin-bottom: 2px;
  font-size: 0.7em;
  opacity: 0.5;
  font-weight: initial;
}

/* die roll itself */
.die input,
.die dd {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--die-size);
  min-height: var(--die-size);
  margin: 0;
  padding: 0 0.2em;
  font-size: 1.3em;

  color: gainsboro;
  box-shadow: 0 0 4px currentColor;
  border: 2px solid currentColor;
  border-radius: 4px;
}
.die span {
  /* inner text, blurred by animation */
  color: black
}
.die input:invalid {
  border-color: firebrick;
  outline-color: firebrick;
}

.total {
  font-size: 1.4em;
  line-height: var(--die-size);
}
